div.diar{
    max-width: fit-content;
    width: -moz-fit-content;
}
div.diar div.dbody{
    position: relative;
    width: min-content;
    float: left;
}
div.diar div.dbody a{
    text-decoration: none;
    color: lightseagreen;
    position: absolute;
    top: 0;
}
div.diar div.dbody a.leftarrow{
    color: #f85c37;
    left: 0;
}
div.diar div.dbody a.rightarrow{
    color: #f85c37;
    right: 0;
}
div.diar div.dbody div.legend *{
    display: inline-block;
}
div.diar div.dbody div.legend div p{
    padding: 2px 5px;
    margin: 0;
}
div.diar fieldset.addevent{
    float: right;
    margin: 30px 20px;
    width: max-content;
    width: -moz-max-content;
}
div.diar div.dbody div.dtable{
    margin: 5px 20px;
    width: 505px;
    position: relative;
	font-size: 0;
}
div.diar div.dbody div.dtable div.day{
    display: inline-block;
    vertical-align: top;
	font-size: 14px;
	border-left: 1px solid white;
}
/*div.diar div.dbody div.dtable div.day1{
    left: 0;
}
div.diar div.dbody div.dtable div.day2{
    left: 100px;
}
div.diar div.dbody div.dtable div.day3{
    left: 200px;
}
div.diar div.dbody div.dtable div.day4{
    left: 300px;
}
div.diar div.dbody div.dtable div.day5{
    left: 400px;
}*/
div.diar div.dbody div.dtable div.day div.head{
    background: #2d2d2d;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100px;
	border-bottom: 1px solid white;
}
div.diar div.dbody div.dtable div.day div.event{
    padding: 10px 5px;
    min-width: 90px;
    position: relative;
	border-bottom: 1px solid white;
	overflow:hidden;
}
div.diar div.dbody div.dtable div.day div.event a.remove{
    position: absolute;
    top: 4px;
    right: 4px;
    color: #2d2d2d;
}
div.diar div.dbody div.dtable div.day div.head p{
    margin: 0;
}
div.diar div.dbody div.dtable div.day div.event p{
    margin: 0;
    width: 90px;
    text-align: center;
}
div.diar div.dbody div.dtable div.day div.event0, div.diar div.dbody div.legend div.event0{
    background-color: lightblue;
}
div.diar div.dbody div.dtable div.day div.event1, div.diar div.dbody div.legend div.event1{
    background-color: lightcoral;
}
div.diar div.dbody div.dtable div.day div.event2, div.diar div.dbody div.legend div.event2{
    background-color: lightgreen;
}
div.diar div.dbody div.dtable div.day div.event3, div.diar div.dbody div.legend div.event3{
    background-color: lightgrey;
}
div.diar div.dbody p.diarmsg{
    width: 500px;
    text-align: center;
    margin: 2px auto;
}
@media screen and (max-width: 768px){
    div.diar fieldset.addevent{
        float: none;
        margin: 10px auto;
    }
    div.diar div.dbody{
        float: none;
        width: 100%;
    }
    div.diar{
        float: none;
        width: 80%;
        max-width: 600px;
    }
    div.diar div.dbody div.dtable{
        margin: 5px 20px;
        max-width: 600px;
        width: auto;
        height: auto;
        position: static;
    }
    div.diar div.dbody div.dtable div.day{
        display: block;
        position: static;
    }
    div.diar div.dbody div.dtable div.day div.head{
        width: 100%;
        border-top: white solid 2px;
    }
    div.diar div.dbody div.dtable div.day div.event{
        padding: 10px 5px;
        min-width: 90px;
    }
    div.diar div.dbody div.dtable div.day div.event div{
        margin: 0 auto;
        width: fit-content;
        width: -moz-fit-content;
    }
    div.diar div.dbody div.dtable div.day div.head p{
        margin: 0;
    }
    div.diar div.dbody div.dtable div.day div.event div p{
        display: inline-block;
        width: auto;
        margin: 0 5px;
    }
    div.diar div.dbody div.dtable div.day div.event0, div.diar div.dbody div.legend div.event0{
        background-color: lightblue;
    }
    div.diar div.dbody div.dtable div.day div.event1, div.diar div.dbody div.legend div.event1{
        background-color: lightcoral;
    }
    div.diar div.dbody div.dtable div.day div.event2, div.diar div.dbody div.legend div.event2{
        background-color: lightgreen;
    }
    div.diar div.dbody div.dtable div.day div.event3, div.diar div.dbody div.legend div.event3{
        background-color: lightgrey;
    }
    div.diar div.dbody p.diarmsg{
        width: auto;
        max-width: 600px;
        text-align: center;
        margin: 0 20px;
    }
}